:root {
  --bg-color-light: #f5f5f5;
  --bg-color: rgb(61, 61, 61);
  --primary: #c0392b;
  --secondary: #000000;
  --white: #ffffff;
  --subheading-bg: red;
  --instagram-color: #e1306c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base font size */
html {
  font-size: 16px; /* 1rem = 16px */
}

/* When screen is smaller than 768px */
@media (max-width: 768px) {
  html {
    font-size: 14px; /* 1rem = 14px */
  }
}

/* You can go smaller if needed */
@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  color: var(--white);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  font-size: 1rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav .logo {
  color: var(--white);
  font-size: 2rem;
  font-weight: bold;
}

.nav .nav-list {
  list-style: none;
  display: flex;
}

.nav .nav-item {
  margin-left: 20px;
}

.nav .nav-link {
  color: var(--white);
  text-decoration: none;
  transition: color 0.3s;
}

.nav .nav-link:hover {
  /* TODO: insert hover effect */
}

.contact-line {
  display: flex;
  justify-content: space-around;
  padding: 1px;
}

section {
  text-align: center;
  margin-top: 1rem;
}

section > h1 {
  color: var(--bg-color-light);
  margin-bottom: 20px;
  font-weight: 800;
}

.home-section_intro {
  font-size: 1.25rem;
  width: 50%;
  text-align: center;
  margin: 0 auto;
}

#menu {
  /* font-family: "Bungee", "Georgia", sans-serif, cursive; */
  font-family: 'Georgia', sans-serif, cursive;
  font-weight: 400;
  font-style: normal;
}

.menu-content {
  /* padding: 2rem; */
}

.menu-content_category {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  background-color: var(--subheading-bg);
}

.menu-content_subcategory {
  margin-top: 1rem;
  color: var(--primary);
  text-transform: uppercase;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.menu-content_subcategory-note {
  font-size: 1rem;
  font-style: italic;
  margin: 0;
  padding: 0;
}

.menu-content_items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  margin-top: 1rem;;
}

.menu-content_items-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  margin: 0.25rem;
  padding: 0 1rem;
}

.menu-content_items-item_text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.menu-content_items-item_name {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: left;
}
.menu-content_items-item_description {
  color: lightgray;
  text-align: left;
}
.menu-content_items-item_price {
  font-size: 1.2rem;
  font-weight: bold;
}

.menu-content_items-item_name {
}
.menu-content_items-item_price {
}

.google-map {
  width: 90%;
  max-width: 600px; /* Adjust as needed */
  height: 300px; /* Adjust as needed */
  margin: 0 auto;
  border: 2px solid var(--primary);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
}

.google-map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

.footer {
  text-align: center;
  padding: 10px;
  background-color: var(--secondary);
  color: var(--white);
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    padding: 10px;
  }

  .nav .nav-list {
    margin-top: 10px;
  }

  .nav .nav-item {
    margin-left: 10px;
    margin-right: 10px;
  }

  .contact_details {
    flex-direction: column;
    align-items: center;
  }
  .contact_details_links {
    font-size: 1.2rem !important;
  }
}

.contact_details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

.contact_details_links {
  padding: 1rem;
  font-size: 1.5rem;
}

.contact_details_links-email {
  margin-bottom: 1rem;
}

.contact_details_links-instagram {
  font-family: 'Pacifico', cursive;
  font-weight: 400;
  color: var(--instagram-color);
}

/* ------ MEDIA QUERIES --------*/

@media screen and (max-width: 1000px) {
  .menu-content_items {
    width: 60%;
  }
  .menu-content_items-item {
    max-width: 100%;
  }
}

@media screen and (max-width: 660px) {
  .menu-content_items {
    width: 85%;
  }
  .menu-content_items-item {
    max-width: 100%;
  }
}
